<div class="container">
  <form
    class="form-inline mt-4 d-flex justify-content-center"
    (ngSubmit)="handleFind()"
  >
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="userName" style="font-weight: 700;">User Name : </label> <br>
              <small *ngIf="!user" id="emailHelp" class="form-text text-muted"
                  >Enter Github User Name  e.g : rishi-live  </small
                >
            </div>
            <div class="col-md-6">
              <input
                [(ngModel)]="userName"
                type="text"
                id="userName"
                class="form-control mx-sm-2"
                name="userName"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary mb-2">Find User</button>
      </div>
    </div>
  </form>

  <!-- to render error -->
  <div *ngIf="error" class="alert alert-danger m-5" role="alert">
    {{ error }}
  </div>

  <div class="row mt-3">
    <div class="col col-md-4">
      <app-user-card *ngIf="user" [user]="user"></app-user-card>
    </div>
    <div class="col col-md-8">
      <app-repos *ngIf="user" [repoUrl]="user.repos_url"></app-repos>
    </div>
  </div>
</div>
